/**
 *
 *
 */

*, *:before, *:after{
    box-sizing: border-box;
}

html, body{
    padding: 0px;
    margin: 0px;
}

.home-page{}
.home-page .left{
    background: url("../images/home-image.jpg") no-repeat;
    height: 100vh;
}

#app{}

#app aside{
    background: #000;
    color: #FFF;
    height: 100vh;
}

#menu{margin-top: 5rem;}
#menu ul{}
#menu ul li{list-style: none;padding-bottom: 3rem;}
#menu ul li a{text-decoration: none; color: #FFF;font-size: 1.2rem;}

header{ height: 100px; display: flex; align-items: flex-end; border-bottom: 1px solid #ccc; width: 100%;}